webApi/ConsoleApplication1/ConsoleApplication1/Web References/RacecardService/RacecardServiceEJB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://ejb.services.star3000.pmc.com/" xmlns:tns="http://services.star3000.pmc.com/" xmlns:ns2="com.pmc.webservice.exchange.chronology" targetNamespace="http://services.star3000.pmc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.152.9:3408/TAS_21041969/RacecardServiceEJB?xsd=2" namespace="http://ejb.services.star3000.pmc.com/" />
  <xs:import schemaLocation="http://172.16.152.9:3408/TAS_21041969/RacecardServiceEJB?xsd=3" namespace="com.pmc.webservice.exchange.chronology" />
  <xs:element name="TASException" type="tns:TASException" />
  <xs:complexType name="RacecardResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="events" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="circumstance" type="tns:circumstanceEnum" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="groundCondition" type="tns:groundConditionEnum" />
      <xs:element minOccurs="0" name="groundConditionDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="raceTrack" type="tns:raceTrack" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="races" nillable="true" type="tns:Race" />
      <xs:element minOccurs="0" name="racingSociety" type="xs:string" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="raceTrack">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Race">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="tns:raceCategory" />
      <xs:element minOccurs="0" name="course" type="xs:string" />
      <xs:element name="distance" type="xs:int" />
      <xs:element name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="expectedStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="externalState" type="ns2:ExternalRaceState" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="formulations" nillable="true" type="tns:authorisedFormulations" />
      <xs:element minOccurs="0" name="groundSight" type="xs:string" />
      <xs:element minOccurs="0" name="investigation" type="tns:investigation" />
      <xs:element minOccurs="0" name="matter" type="tns:matterEnum" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element name="number" type="xs:int" />
      <xs:element minOccurs="0" name="operationsStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pack" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="participants" nillable="true" type="tns:Participant" />
      <xs:element minOccurs="0" name="prices" type="tns:prices" />
      <xs:element name="priority" type="xs:boolean" />
      <xs:element minOccurs="0" name="raceConditions" type="tns:RaceConditions" />
      <xs:element minOccurs="0" name="raceType" type="xs:string" />
      <xs:element minOccurs="0" name="rail" type="tns:railEnum" />
      <xs:element minOccurs="0" name="references" type="tns:References" />
      <xs:element minOccurs="0" name="shortName" type="xs:string" />
      <xs:element minOccurs="0" name="startType" type="tns:startType" />
      <xs:element minOccurs="0" name="state" type="tns:raceState" />
      <xs:element minOccurs="0" name="track" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorisedFormulations">
    <xs:sequence>
      <xs:element name="assignedPot" type="xs:double" />
      <xs:element name="betCodeRef" type="xs:int" />
      <xs:element name="collectedPot" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dividends" nillable="true" type="tns:dividend" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="formulas" nillable="true" type="tns:formula" />
      <xs:element minOccurs="0" name="grossPool" type="xs:double" />
      <xs:element name="payback" type="xs:boolean" />
      <xs:element name="quickPickAvailable" type="xs:boolean" />
      <xs:element name="replacementAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="stackAmountUnit" type="xs:double" />
      <xs:element minOccurs="0" name="state" type="tns:betState" />
      <xs:element name="winningsBonus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dividend">
    <xs:sequence>
      <xs:element minOccurs="0" name="combination" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="information" type="tns:informationEnum" />
      <xs:element name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="formula">
    <xs:sequence>
      <xs:element name="box" type="xs:boolean" />
      <xs:element minOccurs="0" name="key" type="tns:keysEnum" />
      <xs:element name="quickPick" type="xs:boolean" />
      <xs:element name="replacement" type="xs:boolean" />
      <xs:element minOccurs="0" name="risk" type="tns:riskEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="investigation">
    <xs:sequence>
      <xs:element minOccurs="0" name="label" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="tns:investigationState" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Participant">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrival" type="tns:Arrival" />
      <xs:element minOccurs="0" name="blinder" type="tns:blinderEnum" />
      <xs:element minOccurs="0" name="coach" type="xs:string" />
      <xs:element minOccurs="0" name="engSupp" type="xs:boolean" />
      <xs:element minOccurs="0" name="firstTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="horse" type="tns:horse" />
      <xs:element name="number" type="xs:int" />
      <xs:element minOccurs="0" name="overload" type="tns:overloadEnum" />
      <xs:element minOccurs="0" name="owner" type="xs:string" />
      <xs:element minOccurs="0" name="rail" type="xs:byte" />
      <xs:element minOccurs="0" name="railRequested" type="xs:boolean" />
      <xs:element minOccurs="0" name="raiser" type="xs:string" />
      <xs:element minOccurs="0" name="riderName" type="xs:string" />
      <xs:element name="riderWeight" type="xs:int" />
      <xs:element minOccurs="0" name="stableId" type="tns:stableEnum" />
      <xs:element minOccurs="0" name="state" type="tns:participantState" />
      <xs:element minOccurs="0" name="unshod" type="tns:unshodEnum" />
      <xs:element minOccurs="0" name="urlColors" type="xs:string" />
      <xs:element minOccurs="0" name="weightWithCond" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Arrival">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="tns:commentEnum" />
      <xs:element name="distance" type="xs:int" />
      <xs:element name="kmTime" type="xs:int" />
      <xs:element name="position" type="xs:byte" />
      <xs:element name="raceTime" type="xs:int" />
      <xs:element minOccurs="0" name="toPrevious" type="tns:gapEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horse">
    <xs:sequence>
      <xs:element name="age" type="xs:int" />
      <xs:element minOccurs="0" name="birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="breed" type="xs:string" />
      <xs:element name="castrationYear" type="xs:int" />
      <xs:element minOccurs="0" name="claimingRate" type="xs:double" />
      <xs:element minOccurs="0" name="coat" type="xs:string" />
      <xs:element minOccurs="0" name="countryId" type="xs:string" />
      <xs:element minOccurs="0" name="father" type="xs:string" />
      <xs:element minOccurs="0" name="fatherBirthYear" type="xs:int" />
      <xs:element minOccurs="0" name="fatherBreed" type="xs:string" />
      <xs:element minOccurs="0" name="fatherCountryId" type="xs:string" />
      <xs:element minOccurs="0" name="gender" type="tns:gender" />
      <xs:element minOccurs="0" name="maternalGrandFather" type="xs:string" />
      <xs:element minOccurs="0" name="maternalGrandFatherBirthYear" type="xs:int" />
      <xs:element minOccurs="0" name="maternalGrandFatherBreed" type="xs:string" />
      <xs:element minOccurs="0" name="maternalGrandFatherCountryId" type="xs:string" />
      <xs:element minOccurs="0" name="mother" type="xs:string" />
      <xs:element minOccurs="0" name="motherBirthYear" type="xs:int" />
      <xs:element minOccurs="0" name="motherBreed" type="xs:string" />
      <xs:element minOccurs="0" name="motherCountryId" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="performances" type="tns:Performances" />
      <xs:element minOccurs="0" name="pregnant" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Performances">
    <xs:sequence>
      <xs:element minOccurs="0" name="best" type="tns:bestPerformance" />
      <xs:element minOccurs="0" name="career" type="tns:careerPerformance" />
      <xs:element minOccurs="0" name="lastSignificantResultInCategory" type="xs:string" />
      <xs:element minOccurs="0" name="previousYear" type="tns:YearPerformance" />
      <xs:element minOccurs="0" name="recent" type="xs:string" />
      <xs:element minOccurs="0" name="year" type="tns:YearPerformance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bestPerformance">
    <xs:sequence>
      <xs:element minOccurs="0" name="bestTime" type="xs:string" />
      <xs:element minOccurs="0" name="bestTimeRaceCategory" type="tns:raceCategory" />
      <xs:element name="distance" type="xs:int" />
      <xs:element name="kmTime" type="xs:int" />
      <xs:element minOccurs="0" name="raceTrack" type="xs:string" />
      <xs:element minOccurs="0" name="startType" type="tns:startType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="careerPerformance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:performanceAbstract">
        <xs:sequence>
          <xs:element name="placed" type="xs:int" />
          <xs:element minOccurs="0" name="placedTotalCashAmount" type="xs:double" />
          <xs:element minOccurs="0" name="victoriesTotalCashAmount" type="xs:double" />
          <xs:element minOccurs="0" name="winnings" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="performanceAbstract" abstract="true">
    <xs:sequence>
      <xs:element name="nbRaces" type="xs:int" />
      <xs:element minOccurs="0" name="placed2nd" type="xs:int" />
      <xs:element minOccurs="0" name="placed3rd" type="xs:int" />
      <xs:element name="victories" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="YearPerformance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:performanceAbstract">
        <xs:sequence>
          <xs:element minOccurs="0" name="earnings" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="prices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="prices" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RaceConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ageCriteria" type="tns:ageCriteria" />
      <xs:element minOccurs="0" name="breed" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="genders" type="tns:genderConditionsEnum" />
      <xs:element minOccurs="0" name="rider" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ageCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="criteria" type="tns:ageCriteriaEnum" />
      <xs:element name="max" type="xs:byte" />
      <xs:element name="min" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="References">
    <xs:sequence>
      <xs:element name="reference1" type="xs:int" />
      <xs:element name="reference2" type="xs:int" />
      <xs:element name="reference3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RaceRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="eventDate" type="xs:dateTime" />
      <xs:element name="eventId" type="xs:int" />
      <xs:element name="raceNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TASException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:tasExceptionEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="circumstanceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="DAYTIME" />
      <xs:enumeration value="NOCTURNAL" />
      <xs:enumeration value="SEMI_NOCTURNAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="groundConditionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="VERY_LIGHT" />
      <xs:enumeration value="LIGHT" />
      <xs:enumeration value="LIGHT_GOOD" />
      <xs:enumeration value="GOOD" />
      <xs:enumeration value="GOOD_SOFT" />
      <xs:enumeration value="SOFT" />
      <xs:enumeration value="VERY_SOFT" />
      <xs:enumeration value="STICKY" />
      <xs:enumeration value="HEAVY" />
      <xs:enumeration value="VERY_HEAVY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="raceCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="GALOP" />
      <xs:enumeration value="PLAT" />
      <xs:enumeration value="TROTATTELE" />
      <xs:enumeration value="TROTMONTE" />
      <xs:enumeration value="AMBLE" />
      <xs:enumeration value="HAIE" />
      <xs:enumeration value="CROSS" />
      <xs:enumeration value="STEEPLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="informationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WNR_RAPP_SANS_PARTICULARITE" />
      <xs:enumeration value="WNR_RAPP_EN_4" />
      <xs:enumeration value="WNR_RAPP_EN_5" />
      <xs:enumeration value="WNR_RAPP_EN_6" />
      <xs:enumeration value="WNR_RAPP_EN_7" />
      <xs:enumeration value="WNR_RAPP_ORDRE" />
      <xs:enumeration value="WNR_RAPP_ORDRE_INEXACT" />
      <xs:enumeration value="WNR_RAPP_BONUS_4" />
      <xs:enumeration value="WNR_RAPP_BONUS_4SUR5" />
      <xs:enumeration value="WNR_RAPP_BONUS_3" />
      <xs:enumeration value="WNR_RAPP_ORDRE_NPLUS" />
      <xs:enumeration value="WNR_RAPP_ORDRE_INEXACT_NPLUS" />
      <xs:enumeration value="WNR_RAPP_BONUS_4_NPLUS" />
      <xs:enumeration value="WNR_RAPP_BONUS_4SUR5_NPLUS" />
      <xs:enumeration value="WNR_RAPP_BONUS_3_NPLUS" />
      <xs:enumeration value="WNR_RAPP_3CHEVAUX" />
      <xs:enumeration value="WNR_RAPP_EN_3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="keysEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNIT" />
      <xs:enumeration value="COMBINED" />
      <xs:enumeration value="PART_WHEEL" />
      <xs:enumeration value="WHEEL" />
      <xs:enumeration value="BANKER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="riskEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_AVAILABLE" />
      <xs:enumeration value="AUTO" />
      <xs:enumeration value="IN2" />
      <xs:enumeration value="IN3" />
      <xs:enumeration value="IN4" />
      <xs:enumeration value="IN5" />
      <xs:enumeration value="IN6" />
      <xs:enumeration value="IN7" />
      <xs:enumeration value="IN8" />
      <xs:enumeration value="IN9" />
      <xs:enumeration value="IN10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="betState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SALE_STOPPED" />
      <xs:enumeration value="IN_SALE" />
      <xs:enumeration value="START" />
      <xs:enumeration value="STARTED" />
      <xs:enumeration value="RESULTS" />
      <xs:enumeration value="PAYMENT_AVAILABLE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="investigationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NO_INVESTIGATION" />
      <xs:enumeration value="PENDING" />
      <xs:enumeration value="FINISHED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="matterEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="YES" />
      <xs:enumeration value="NO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="commentEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="NON_RUNNER" />
      <xs:enumeration value="PAYBACK" />
      <xs:enumeration value="BUTCHER" />
      <xs:enumeration value="STOPPED" />
      <xs:enumeration value="DISQUALIFIED" />
      <xs:enumeration value="HIDDEN" />
      <xs:enumeration value="DISQUALIFIED_GALLOP" />
      <xs:enumeration value="RETRIEVED" />
      <xs:enumeration value="DISTANCED" />
      <xs:enumeration value="NOT_GONE" />
      <xs:enumeration value="FELL" />
      <xs:enumeration value="FELL_AND_BACK" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gapEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="SHORT_NECK" />
      <xs:enumeration value="SHORT_HEAD" />
      <xs:enumeration value="DEAD_HEAT" />
      <xs:enumeration value="NECK" />
      <xs:enumeration value="FAR" />
      <xs:enumeration value="NOSE" />
      <xs:enumeration value="HEAD" />
      <xs:enumeration value="QUARTER" />
      <xs:enumeration value="HALF" />
      <xs:enumeration value="THREE_QUARTER" />
      <xs:enumeration value="ONE" />
      <xs:enumeration value="FIVE_QUARTER" />
      <xs:enumeration value="ONE_AND_HALF" />
      <xs:enumeration value="ONE_AND_THREE_QUARTER" />
      <xs:enumeration value="TWO" />
      <xs:enumeration value="TWO_AND_HALF" />
      <xs:enumeration value="THREE" />
      <xs:enumeration value="THREE_AND_HALF" />
      <xs:enumeration value="FOUR" />
      <xs:enumeration value="FOUR_AND_HALF" />
      <xs:enumeration value="FIVE" />
      <xs:enumeration value="FIVE_AND_HALF" />
      <xs:enumeration value="SIX" />
      <xs:enumeration value="SIX_AND_HALF" />
      <xs:enumeration value="SEVEN" />
      <xs:enumeration value="SEVEN_AND_HALF" />
      <xs:enumeration value="EIGHT" />
      <xs:enumeration value="EIGHT_AND_HALF" />
      <xs:enumeration value="NINE" />
      <xs:enumeration value="NINE_AND_HALF" />
      <xs:enumeration value="TEN" />
      <xs:enumeration value="ELEVEN" />
      <xs:enumeration value="TWELVE" />
      <xs:enumeration value="THIRTEEN" />
      <xs:enumeration value="FOURTEEN" />
      <xs:enumeration value="FIFTEEN" />
      <xs:enumeration value="SIXTEEN" />
      <xs:enumeration value="SEVENTEEN" />
      <xs:enumeration value="EIGHTEEN" />
      <xs:enumeration value="NINETEEN" />
      <xs:enumeration value="TWENTY" />
      <xs:enumeration value="THIRTY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="blinderEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="BLINDERS" />
      <xs:enumeration value="WINKERS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="MALE" />
      <xs:enumeration value="FEMALE" />
      <xs:enumeration value="GELDING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="startType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="AUTOSTART" />
      <xs:enumeration value="ELASTIC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="overloadEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="HALF" />
      <xs:enumeration value="ONE" />
      <xs:enumeration value="ONE_AND_HALF" />
      <xs:enumeration value="TWO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stableEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="participantState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUNNER" />
      <xs:enumeration value="NON_RUNNER" />
      <xs:enumeration value="SCRATCH" />
      <xs:enumeration value="REPLACING" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unshodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="FORE" />
      <xs:enumeration value="HIND" />
      <xs:enumeration value="BOTH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ageCriteriaEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="MIN" />
      <xs:enumeration value="MAX" />
      <xs:enumeration value="MIN_MAX" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="genderConditionsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNDEFINED" />
      <xs:enumeration value="MALE" />
      <xs:enumeration value="FEMALE" />
      <xs:enumeration value="GELDING" />
      <xs:enumeration value="MALE_GELDING" />
      <xs:enumeration value="FEMALE_GELDING" />
      <xs:enumeration value="MALE_FEMALE" />
      <xs:enumeration value="ALL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="railEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="STRAIGHT" />
      <xs:enumeration value="AUTOSTART" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="raceState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROGRAMMED" />
      <xs:enumeration value="UNDISPUTED" />
      <xs:enumeration value="IN_SALE" />
      <xs:enumeration value="SALE_STOPPED" />
      <xs:enumeration value="START" />
      <xs:enumeration value="STARTED" />
      <xs:enumeration value="GO" />
      <xs:enumeration value="TEMPORARY_ARRIVED" />
      <xs:enumeration value="DEFINITIVE_ARRIVED" />
      <xs:enumeration value="INQUIRY" />
      <xs:enumeration value="REPORTED" />
      <xs:enumeration value="CANCELED" />
      <xs:enumeration value="PAYMENT_AUTHORIZED" />
      <xs:enumeration value="PAYMENT_STOPPED" />
      <xs:enumeration value="CLOSED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tasExceptionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TOTE" />
      <xs:enumeration value="RESOURCE" />
      <xs:enumeration value="REVERSE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>