webApi/ConsoleApplication1/ConsoleApplication1/Web References/RacecardService/RacecardServiceEJB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://services.star3000.pmc.com/" targetNamespace="http://ejb.services.star3000.pmc.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.152.9:3408/TAS_21041969/RacecardServiceEJB?xsd=1" namespace="http://services.star3000.pmc.com/" />
  <xs:element name="Arrival" type="ns1:Arrival" />
  <xs:element name="Event" type="ns1:Event" />
  <xs:element name="Participant" type="ns1:Participant" />
  <xs:element name="Performances" type="ns1:Performances" />
  <xs:element name="Race" type="ns1:Race" />
  <xs:element name="RaceConditions" type="ns1:RaceConditions" />
  <xs:element name="RaceRef" type="ns1:RaceRef" />
  <xs:element name="RacecardResponse" type="ns1:RacecardResponse" />
  <xs:element name="References" type="ns1:References" />
  <xs:element name="YearPerformance" type="ns1:YearPerformance" />
</xs:schema>